streamlit==1.31.0
pandas==2.1.4
numpy==1.26.4
requests==2.32.3
python-dotenv==1.0.1
scikit-learn==1.5.1
torch==2.4.1+cpu
torchvision==0.19.1+cpu
torchaudio==2.4.1+cpu
matplotlib==3.9.2
seaborn==0.13.2
datasets==3.0.1
joblib==1.4.2
fastapi==0.115.0
uvicorn==0.30.6
python-multipart==0.0.9
kagglehub==0.3.3
